* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url("../img/background.jpg");
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

label,
p {
  display: block;
  font-size: 1em;
}

/*Page Content*/

/*Home link*/

#home-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 80px;
  margin: 10px;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  border-radius: 50%;
}

#home-link:link,
#home-link:visited {
  text-decoration: none;
  color: navy;
}

#home-link:hover {
  text-decoration: underline;
  background-color: gray;
}

.fa-home {
  font-size: 24px;
}

/*Header*/

#header {
  width: 550px;
  margin: 40px auto 0 auto;
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  color: black;
  border: 1px solid gray;
  border-width: 2px;
  background-color: #dfdfdf;
}

#survey-form {
  width: 550px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  color: black;
  border: 1px solid gray;
  background-color: #dfdfdf;
}

fieldset {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

#information input,
#information select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

#radio label {
  display: inline;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
}

#submit {
  padding: 5px;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: 50px;
}

footer div {
  background-color: white;
  opacity: 90%;
  margin-bottom: 30px;
  width: 25%;
  height: 25px;
  margin: 0 auto 0 auto;
  color: black;
  font-weight: bold;
}

@media (max-width: 550px) {
  #header {
    width: 90%;
  }

  #survey-form {
    width: 90%;
  }
}
